<link rel="stylesheet" href="{{ "/assets/css/sidebar.css" | relative_url }}" media="screen and (min-width: 70em)">
<aside style="display: none">
  <img src="/pfp.png">
  {% unless site.show_title != true and site.navigation and site.external %}
  <a href="{{ "/" | relative_url }}" class="title">{{ site.title | escape }}</a>
  <div class="description">{{ site.description }}</div>
{% endunless %}
  <nav>
  {%- for item in site.navigation -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}
    {%- assign icon = item.icon | default: item.sidebaricon -%}
    <a aria-label="{{ title }}" href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
      <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use></svg>
      <span aria-hidden="true">{{ title }}</span>
    </a>
  {%- endfor -%}
  {%- for item in site.external -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}
    {%- assign icon = item.icon | default: item.sidebaricon -%}
    <a aria-label="{{ title }}" href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
      <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use></svg>
      <span aria-hidden="true">{{ title }}</span>
    </a>
  {%- endfor -%}
  </nav>
  <script type="text/javascript">function toggleDarkMode() {
    let buttons = document.body.getElementsByTagName("button")
    if (document.body.classList.contains("light")) {
      document.body.classList.remove("light")
      document.body.classList.add("dark")
      for(let i = 0; i < buttons.length; i++){
        let svgs = document.body.getElementsByTagName("button")[i].getElementsByTagName("svg")
        for(let j = 0; j < svgs.length; j++){
          document.body.getElementsByTagName("button")[i].getElementsByTagName("svg")[j].classList.add("dark")
          document.body.getElementsByTagName("button")[i].getElementsByTagName("svg")[j].classList.remove("light")
        }
      }
    } else if (document.body.classList.contains("dark")) {
      document.body.classList.remove("dark")
      document.body.classList.add("light")
      for(let i = 0; i < buttons.length; i++){
        let svgs = document.body.getElementsByTagName("button")[i].getElementsByTagName("svg")
        for(let j = 0; j < svgs.length; j++){
          document.body.getElementsByTagName("button")[i].getElementsByTagName("svg")[j].classList.remove("dark")
          document.body.getElementsByTagName("button")[i].getElementsByTagName("svg")[j].classList.add("light")
        }
      }
    } else {
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add("light")
      for(let i = 0; i < buttons.length; i++){
        let svgs = document.body.getElementsByTagName("button")[i].getElementsByTagName("svg")
        for(let j = 0; j < svgs.length; j++){
          document.body.getElementsByTagName("button")[i].getElementsByTagName("svg")[j].classList.add("light")
        }
      }
      } else {
        document.body.classList.add("dark")
        for(let i = 0; i < buttons.length; i++){
          let svgs = document.body.getElementsByTagName("button")[i].getElementsByTagName("svg")
          for(let j = 0; j < svgs.length; j++){
          document.body.getElementsByTagName("button")[i].getElementsByTagName("svg")[j].classList.add("dark")
            }
        }
      }
    }
  }</script>
  <button onClick="toggleDarkMode()">
    <svg aria-hidden="true" id = "moon"><use xlink:href="/assets/fontawesome/icons.svg#moon"></use></svg>
    <svg aria-hidden="true" id = "sun"><use xlink:href="/assets/fontawesome/icons.svg#sun"></use></svg>
 </button>
  <sup><sub>© 2022</sub></sup> 
</aside>
